.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*grid-row: 10px;*/
    /*grid-column: 10px;*/
    gap: 10px;
    
    

}

.item{
    
    background-color:#0f0;
    padding: 10px;
   border-radius: 10px;
  
}