boby{
 margin: 0px;
 padding: 0px;
 font-family: Arial;
}



header{
  display: flex;
  justify-content: center;
  height: 120px;
}


.container{
    width: 990px;
    display: flex;
  justify-content: space-between;
}

.logo{
    display: flex;
    
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    
}

nav ul, nav li{

    list-style: none;
    margin: 0px;    
    padding: 0px;
}

nav ul{
    display: flex;
}

nav a{
    display: block;    
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}


#banner{
    display: flex;
    justify-content: center;
    background-image: url(/images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner_headline h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 1px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h2{
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top:30px ;
}
.banner_options{
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3{
    flex: 1;
    color: #fff;
    padding:20px;
}
.banner1{
    background-color:#39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}

.banner_title{
    font-size: 20px;
}

.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a{
    font-size: 13px;
    color: #fff;
    display: inline-block;
    padding: 5px;   
    border: 1px solid #fff;
    text-decoration: none;
}



.day1, .day2, .day3{
    margin-top: 10px;
    font-size: 13px;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #a5a2a2 ;
    display: flex; 
    justify-content: space-between;
}

.time1, .time2, .time3 {
   font-size: 13px;
}

#banner2{
    display: flex;
    justify-content: center;
}

#banner2 section{
    flex: 2;
}

#banner2 aside{
    flex:1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.widget_title_bar{
    background-color: #39aae1;
    height: 2px;
    width: 50px;
    margin-top: 10px;
}


.widget_body{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}


.square {
    width: 150px;
    height: 150px;
    background-color: #39aae1;
}
.widget_body p {
    font-size: 14px;
    color: #909090;
    line-height: 20px;
    border-bottom: 1px solid #a7acb8;
    padding-top: 6px;
    padding-bottom: 25px;
}

.phone, .email, .contact {
    border-bottom: 1px solid #a7acb8;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #888888;
}

.icons{
    text-decoration: none;
}
 
.icons i {
    margin-right: 5px;
}

.icons b{
   
    color: #000;
}

.flex {
    flex:1;
    flex-wrap:wrap;
}

article{
    flex: 1;
    min-width: 297px;
    margin-right: 20px;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: #fff;    
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_coments {
    background-color: #39aae1;
    color: #fff;    
    font-size: 12px;
    padding: 10px;
}

article .tumbnail{
    margin-top: 30px;
}


article .tumbnail img{
    width: 100%;
    height: auto;
    
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .news_resume{
    font-size: 13px;
    color: #5c5c5c;
    line-height: 20px;
}

article a {
    text-decoration: none;
}


footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    flex:1;
    
}

.fm1, .fm2, .fm3{
    flex: 1;
    color: #fff;
    padding: 20px;

}

.fm1{
    background-color:#39aae1;
}
.fm2{
    background-color: #0079c7;
}
.fm3{
    background-color: #2b4c99;
}

.footer_menu a{
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer_area{
    display: flex;
    color: #fff;
    
}

.foorter_areaitem{
    flex:1;
}

.flexcolum{
    flex-direction: column;
}

footer .widget_title_text{
    color: #fff;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.fm_title {
    margin-bottom: 10px;
}

footer p{
    font-size: 15px;
    color: #727272;
    margin-top: 20px;
    margin-right: 10px;
    flex: 1;
    
}

footer .widget_body_address{
    color: #727272;
    font-size: 15px;
    flex: 1;
    
}

.widget_body_box{
    display: flex;
    flex: 1;
    color: #8A8A8A;
    font-size: 13px;
}

footer .widget_body_contant{
    color: #727272;
    font-size: 15px;
    flex: 1;
    
}

.widget_body_thumbnail {
    display: flex;
    width: 30px;
    height: 30px;

  }
  
  .widget_body_thumbnail img {
    margin-top: 10px;
    margin-right: 5px;
  }

  .time_post{
    color: #0079c7;
  }


  footer .box_lastestpost p{
    color: #fff;
  }

  footer .box_lastestfeed p{
    color: #727272;
  }

  .menu_mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top:40px ;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  .menu_line{
    height: 3px;
    background-color: #39aae1;
  }

  @media (max-width:600px){

    .banner_headline{
        padding: 10px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2{
        font-size: 17px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{ 
        flex-direction: column;
    }
    #geral section, aside{
        padding: 20px;
    }
    .footer_menu{
        flex-direction: column;
    } 
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header{
        height: auto;
    }
    .logo{
        padding: 20px;
    }
    .menu_mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
  }
    
  
