.container{
    display: grid;
    
   grid-template-columns: auto 199px auto;
    gap: 10px;
    grid-template-rows: 20px;
}

.item{
    
    background-color:#0f0;
    padding: 10px;
   border-radius: 10px;
  
}